@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MemberArea>
@using ContentModels = UmbracoMvc.Models;
@{
	Layout = "Master.cshtml";
}

<h1>Member Area Page</h1>