@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MemberError>
@using ContentModels = UmbracoMvc.Models;
@{
	Layout = "Master.cshtml";
}

<h1>@Model.Name</h1>