@using UmbracoMvc.Models.ViewModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RecipeContentViewModel>
@{
    Layout = "HijackMaster.cshtml";
}
<h1>@Model.Content.Heading</h1>
<div>
    <p>@Model.Content.Intro</p>
</div>
<div>
    <h2>Preparation</h2>
    @Model.Content.Preparation
</div>