<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bca995f7-d0fa-477a-9729-fe4babfaef98" Alias="Member Recipe Area - Submitting User - User Picker" Level="1">
  <Info>
    <Name>Member Recipe Area - Submitting User - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UserPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>