<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07f51f4f-5504-4913-b98d-238692e8ecb5" Alias="Site - Home - Document Picker" Level="1">
  <Info>
    <Name>Site - Home - Document Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>