<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2e56c8e-3afc-481a-8831-948ec4782f5d" Alias="Text Box - 100 Characters" Level="1">
  <Info>
    <Name>Text Box - 100 Characters</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 100
}]]></Config>
</DataType>