<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb69e3e4-634c-4719-90a3-1faf4bcef1e3" Alias="memberRecipeArea" Level="2">
  <Info>
    <Name>Member Recipe Area</Name>
    <Icon>icon-users color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Members</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d3b32ed3-6617-476d-82ed-6b1f1f96fec4" SortOrder="0">recipe</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a7b5ddda-8882-4b53-b84a-dee41e812204</Key>
      <Name>Submitting User</Name>
      <Alias>submittingUser</Alias>
      <Definition>bca995f7-d0fa-477a-9729-fe4babfaef98</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="memberRecipeArea">Member Recipe Area</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7a42f11b-929e-4270-9e61-623cc5d79488</Key>
      <Caption>Member Recipe Area</Caption>
      <Alias>memberRecipeArea</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>