<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="584ffcc1-ad08-4f4e-adc8-f39deb6fc9dc" Alias="MemberError" Level="2">
  <Info>
    <Name>Member Error</Name>
    <Icon>icon-alert color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Members</Folder>
    <Compositions />
    <DefaultTemplate>MemberError</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cb54f-82d0-79f5-bf07-96a3a4bb73f4">MemberError</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>