<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eff0ca95-2678-451b-9ae0-b4c0b45c6344" Alias="MemberLogin" Level="2">
  <Info>
    <Name>Member Login</Name>
    <Icon>icon-combination-lock color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Members</Folder>
    <Compositions />
    <DefaultTemplate>MemberLogin</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cb54e-ee4d-7f28-9f0b-10692e0e1803">MemberLogin</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>