<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e83ac34-e4b2-4fda-89ec-43cdf779a288" Alias="memberArea" Level="2">
  <Info>
    <Name>Member Area</Name>
    <Icon>icon-combination-lock-open color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Members</Folder>
    <Compositions />
    <DefaultTemplate>MemberArea</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cb54f-cef8-7618-910c-25cca8fdacb4">MemberArea</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="138dd7be-ea86-4cd9-9ce5-dfe2869a6639" SortOrder="0">submitRecipe</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>