<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6445a3e-9668-465b-b03d-e1decfc1a4f4" Alias="recipeArea" Level="1">
  <Info>
    <Name>Recipe Area</Name>
    <Icon>icon-book-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RecipeArea</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cb42c-c609-7d14-8afd-31ceaddf8019">RecipeArea</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d3b32ed3-6617-476d-82ed-6b1f1f96fec4" SortOrder="0">recipe</ContentType>
    <ContentType Key="cb69e3e4-634c-4719-90a3-1faf4bcef1e3" SortOrder="1">memberRecipeArea</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>95220927-466c-4a14-9684-c206cb4747f1</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d727292-706e-4f4a-96b5-e19391d80334</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>193ddd66-8639-45c9-8eb4-a85a672a80ba</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>