<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="138dd7be-ea86-4cd9-9ce5-dfe2869a6639" Alias="submitRecipe" Level="2">
  <Info>
    <Name>Submit Recipe</Name>
    <Icon>icon-diploma color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Members</Folder>
    <Compositions />
    <DefaultTemplate>SubmitRecipe</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cb56e-e866-78e1-9d25-bcdf98b37590">SubmitRecipe</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>